aiofiles==0.7.0
aiohttp==3.8.1
apscheduler==3.8.1
aria2p==0.10.4
cairosvg==2.5.2
cloudscraper==1.2.58
colour==0.1.5
countryinfo==0.1.2
cowpy
dataclasses==0.8
datetime==4.3
emoji==1.6.1
emoji-country-flag==1.3.0
fake_useragent==0.1.11
fonttools==4.28.1
geopy==2.2.0
gitpython==3.1.24
glitch_this==1.0.2
google-api-python-client==2.31.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googletrans==4.0.0-rc1
gtts==2.2.3
hachoir==3.1.2
herokum
html-telegraph-poster==0.4.0
humanize==3.12.0
imdbpy==2021.4.18
instaloader==4.8.1
jikanpy==4.3.2
justwatch==0.5.1
lottie==0.6.10
lyricsgenius==3.0.1
markdown==3.3.6
motor==2.5.1
moviepy==1.0.3
nekos.py==1.0.3
opencv-python-headless==.4.5.4.58
pillow==8.4.0
prettytable==2.4.0
psutil==5.8.0
psycopg2==2.9.2
pyfiglet==0.8.post1
pygithub==1.55
pygments==2.10.0
pylast==4.3.0
pylists==0.0.1.1
pymediainfo==5.1.0
pymupdf==1.19.1
pysmartdl==1.3.4
python-barcode==0.13.1
python-dotenv==0.19.2
pytz==2021.3
pyyaml==6.0
qrcode==7.3.1
randomstuff.py==2.0.0
regex==2021.11.10
requests==2.26.0
scipy==1.7.2
search-engine-parser==0.6.6
selenium==4.0.0
shazamapi==0.0.2
spamwatch==0.3.0
speedtest-cli==2.1.3
spotify_token==1.0.0
sqlalchemy-json==0.4.0
sqlalchemy==1.3.23
telegraph==2.1.0
git+https://github.com/MUTLCC/Telethon
tgcrypto==1.2.2
ujson==4.2.0
urlextract==1.4.0
validators==0.18.2
vcsi==7.0.13
wand==0.6.7
wget==3.2
git+https://github.com/TeleDoge/Wikipedia
wordcloud==1.8.1
youtube-search-python==1.5.1
youtube_dl==2021.6.6