aiofiles
aiohttp
apscheduler
aria2p
cairosvg
cloudscraper
colour
countryinfo
cowpy
dataclasses
datetime
emoji
emoji-country-flag
fake_useragent
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google_trans_new
googletrans==4.0.0-rc1
gtts
hachoir
herokum
html-telegraph-poster
humanize
imdbpy
instaloader
jikanpy
justwatch
lottie
lyricsgenius
markdown
motor
moviepy
nekos.py
opencv-python-headless
pillow
prettytable
psutil
psycopg2
pydictionary
pyfiglet
pygithub
pygments
pylast
pylists==0.0.1.1
pymediainfo
pymupdf
pysmartdl
python-barcode
python-dotenv
pytz
pyyaml
qrcode
randomstuff.py
regex
requests
scipy
search-engine-parser
selenium
shazamapi
spamwatch
speedtest-cli
spotify_token
sqlalchemy-json
sqlalchemy==1.3.23
telegraph
git+https://github.com/MUTLCC/Telethon
tgcrypto
ujson
urlextract
validators
vcsi
wand
wget
git+https://github.com/TeleDoge/Wikipedia
wordcloud
youtube-search-python
youtube_dl